<main class="main">
    <!--<div class="container">
        <%= render 'shared/errors', obj: @request %>
    </div>-->

    <div class="container form">
        <h1 class="form__heading">Nueva Solicitud</h1>
        <hr class="mb-3">

        <%= render "form", request: @request %>
    </div>
</main>

